{% assign first_col_blocks = section.blocks | where: 'type', 'first-column-elements' %}
{% assign second_col_blocks = section.blocks | where: 'type', 'second-column-elements' %}


<div class="col-container" id="col-container">
        <div class="col col-1">
            {% for block in first_col_blocks %}
            {% if block.settings.first-column-image != blank %}
            <div class="image col-box" style="background-image:url('{{ block.settings.first-column-image | img_url }}'); background-size: cover;">
                    
                </div>
            {% endif %} 
            {% if block.settings.first-column-text != blank %}
            <div class="text col-box">
                    {{ block.settings.first-column-text }}
                </div>
                {% endif %} 
              
                
            {% endfor %}
             
    
        </div>

        <div class="col col-2">
            {% for block in second_col_blocks %}
            {% if block.settings.second-column-image != blank %}
            <div class="image col-box" style="background-image:url('{{ block.settings.second-column-image | img_url }}'); background-size: cover;">
                    
                </div>
            {% endif %} 
            {% if block.settings.second-column-text != blank %}
            <div class="text col-box">
                    {{ block.settings.second-column-text }}
                </div>
                {% endif %} 
            {% endfor %}
        </div>
    </div>
{% schema %}
{
    
        "name": "Split Scroll Section",
        "settings": [
            {
                "id": "lnw-split-scroll",
                "type": "text",
                "label": "Add a split scroll section"
            }
            
        ],
        "templates": ["index"],
        "presets": [
            {
                "name": "Custom split scroll",
                "category": "LNW"
            }
        ],
        "blocks": [
            {
                "name": "Column 1 Elements",
                "type": "first-column-elements",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "first-column-image",
                        "label": "Image"
                    },
                    {
                        "type": "html",
                        "id": "first-column-text",
                        "label": "Text"
                      }  
                ]
            },
            {
                "name": "Column 2 Elements",
                "type": "second-column-elements",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "second-column-image",
                        "label": "Image"
                    },
                    {
                        "type": "html",
                        "id": "second-column-text",
                        "label": "Text"
                      }  
                ]
            }
        ]
    
}
{% endschema %}
